{{append . "moreStyles" "preloader.css"}}
{{append . "moreStyles" "bootstrap.min.css"}}
{{append . "moreStyles" "meanmenu.css"}}
{{append . "moreStyles" "animate.min.css"}}
{{append . "moreStyles" "owl.carousel.min.css"}}
{{append . "moreStyles" "swiper-bundle.css"}}
{{append . "moreStyles" "backToTop.css"}}
{{append . "moreStyles" "magnific-popup.css"}}
{{append . "moreStyles" "ui-range-slider.css"}}
{{append . "moreStyles" "nice-select.css"}}
{{append . "moreStyles" "fontAwesome5Pro.css"}}
{{append . "moreStyles" "flaticon.css"}}
{{append . "moreStyles" "default.css"}}
{{append . "moreStyles" "style.css"}}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>{{.title}}</title>
   <meta name="description" content="Information and resources for gardeners in the greater Houston area.">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.png">
   <!-- Initial JavaScript (more in the footer) -->
   <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
   <!-- CSS -->
   {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/css/{{.}}">
   {{end}}
</head>

<body>
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

   <!-- START: Header -->
   <header class="header4">
      <div id="header-sticky" class="header-main header-main4">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-12 col-lg-12">
                  <div class="header-main-content-wrapper">
                     <div class="header-main-left header-main-left-header4">
                        <div class="header-logo header4-logo">
                           <a href="/" class="logo-w"><img src="/public/img/logo/space-city-gardening-logo-web.png" alt="logo-img"></a>
                           <!-- <a style="color:greenyellow; font-size:24px; text-transform: uppercase; margin-bottom: 15px; position: relative;" href="index">Space City Gardening</a> -->
                        </div>
                     </div>
                     <div class="header-main-right header-main-right-header4">
                        <div class="main-menu main-menu4 d-none d-lg-inline-block">
                           <nav id="mobile-menu2">
                              <ul>
                                 </li>
                                 <li class="menu-item-has-children"><a href="about">About Us</a>
                                    <ul class="sub-menu">
                                       <li><a href="team">Team</a></li>
                                    </ul>
                                 <li class="menu-item-has-children"><a href="resources">Resources</a>
                                    <ul class="sub-menu">
                                       <li><a href="services">Services</a></li>
                                    </ul>
                                    <ul class="sub-menu">
                                       <li class="menu-item-has-children"><a href="portfolio">Portfolio</a></li>
                                    </ul>
                                 </li>
                                 <li><a href="blog">Blog</a></li>
                                 <li><a href="faq">FAQ</a></li>
                                 <li><a href="contact">Contact</a></li>
                              </ul>
                           </nav>
                        </div>
                        <!-- <a href="contact" class="border-btn d-none d-xl-inline-flex"><i
                              class="fal fa-farm"></i><span>Get a Quote</span></a> -->
                        <div class="menu-bar d-lg-none">
                           <a class="side-toggle" href="javascript:void(0)">
                              <div class="bar-icon">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                              </div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- END: Header -->